.submit{
  display: flex;
  flex: 2;
  padding: 10px;
  justify-content: center;
}
.disabled{
  cursor: not-allowed !important;
//  opacity: 0.6 !important;
}
.error{
  display: flex;
  color: #cb6969;
}
.amountLabel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  small{
    color: #b0f49f;
  }
}
.close{
    color: #bbc3e5 !important;
    background-color: transparent !important;
    border: 2px solid #bbc3e5 !important;
}
.close:hover{
  color: white !important;
  border: 2px solid #5e72e4 !important;
}
.balance{
  font-size: 17px;
  color: #5e72e4;
}
.amount{
  color:  rgb(82, 95, 127);
  font-weight: bold;
}